@charset "UTF-8";
body
{
    background-image: url("https://cdn.pixabay.com/photo/2022/05/31/00/56/sky-7232494_960_720.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}


.d1
{
    font-family: 'Dongle', sans-serif;
    /*  border: 0.2rem solid red; */
    width: 30rem;
    height: 48rem;
    border-radius: 1.4rem;
    margin: auto;
    box-shadow: rgb(166, 165, 165) 0rem 0rem 18px 7px;
}
.d1 h1
{
    color: rgb(125 69 108);
    text-align: center;
    font-size: 5rem;
}
.d1 h3
{
    /* border: 0.15rem solid violet; */
    font-size: 2rem;
    margin:1rem;
    padding: 0rem 2rem;
}
.d1 form input
{
    outline: none;
    border: none;
    height: 3rem;
    width: 24rem;
    margin: -2rem 2.3rem;
    border-radius: 1.4rem;
    padding: 0rem 1rem;
}
.d1 form input textarea:focus
{
    outline: none;
}
.d1 form input:hover
{
    outline: none;
    background-color: beige;
}

#submit
{
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
    margin: 2rem 3rem;
    width: 7rem;
    height: 3rem;
    margin: 4rem;
    border-radius: 1.2rem;
    background-color: antiquewhite;
}

#reset
{
    font-family: 'Dongle', sans-serif;
    font-size: 2rem;
    margin: 2rem 3rem;
    width: 7rem;
    height: 3rem;
    border-radius: 1.2rem;
    background-color: antiquewhite;
}
